<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Users</title></head>
<body>
<h1>Users</h1>

<table border="1">
    <tr><th>ID</th><th>Name</th><th>Surname</th><th>Department</th></tr>
    <tr th:each="u : ${users}">

        <td th:text="${u.name}"></td>
        <td th:text="${u.surname}"></td>
        <td th:text="${u.department}"></td>
        <td>

            <form th:action="@{/user-update}" method="get" style="display:inline">
                <input type="hidden" name="id" th:value="${u.id}" />
                <button type="submit">Edit</button>
            </form>


            <form th:action="@{/users/delete}" method="post" style="display:inline">
                <input type="hidden" name="id" th:value="${u.id}" />
                <button type="submit">Delete</button>
            </form>
        </td>

    </tr>
</table>

<a href="/user-create">Create user</a>
</body>
</html>
